[submodule "lib/srsran"]
	path = lib/srsran
	url = ../srsRAN_4G
	branch = fembms
[submodule "supporting_files/rt-common-shared"]
	path = supporting_files/rt-common-shared
	url = ../rt-common-shared
	branch = feature/mbms
